body {
    margin: 0;
    background-color: #e8f3f3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#navigate {
    text-align: center;
    /* width: 10px; */
}

#navigate > ul > li {
    display: inline-block;
    border: solid black 1px;
    padding: 5px;
    width: 150px;
    text-align: center;
    vertical-align: auto;
}

ul > li:hover {
    background-color: #d5d5d5;
}

.currPage {
    background-color: red;
}
.currPage:hover {
    background-color: #ec6313;
}

.feeds {
    height: 750px;
    width: 160px;
    border: solid black 1px;
    /* margin-right: 20px; */
    margin-bottom: 300px;
    background-color: white;
}

#leftfeed {
    float: left; 
    margin-left: 10px;
    margin-right: 10px;
}

#rightfeed {
    float: right;
    margin-right: 10px;
}

.promo {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    border: solid black 2px;
    text-align: center;
    background-color: bisque;
}

.promo:hover {
    background-color: #e2dfdf;
}

.promo > textarea {
    bottom: 0;
    max-width: fit-content;
}

#test {
    display: block;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    /* text-decoration: none; */
}

input {
    cursor: pointer;
}

footer {    
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 50px;
    border-top: solid black 2px;
    background-color: yellowgreen;
    opacity: 0.8;
    margin: 0;
}

#contactTable {
    padding-left: 40%;
    padding-right: 40%;
}

table {
    border-collapse: collapse;
    margin: 50px;
}

thead > tr, th {
    border: solid black 1px;
    background-color: gray;
}

table > tr, td {
    border: solid black 1px;
    padding: 5px;
    text-align: center;
}

table > tr, td:hover {
    background-color: #aaa;
}

#promo_link {
    width:inherit;
    height: 10px;
    border: solid black 1px;
}