#user_header {
    text-align: center;
    border-bottom: solid black 2px;
    padding-bottom: 25px;
    vertical-align: middle;
    position: relative;
}

#user_hello {
    position: relative;
    top: 15px;
}

#user_bio {
    margin-top: 10px;
    text-align: center;
    /* width: 900px;
    height: 300px; */
    border: solid black 1px;
    float:right;
}