#user_header {
    text-align: center;
    border-bottom: solid black 2px;
    padding-bottom: 25px;
    vertical-align: middle;
    position: relative;
}

#user_hello {
    position: relative;
    top: 15px;
}

#user_bio {
    background-color: rgb(171, 192, 192);
    margin-top: 10px;
    margin-right: 20%;
    margin-bottom: 20px;

    text-align: center;
    width: 45%;
    height: 300px;
    border: solid black 1px;
    float: right;
    border-radius: 20px;
}

#user_logout {
    background-color: rgb(171, 192, 192);
    padding: 10px;
    font-size: 50px;
    margin-left: 10px;
    text-align: center;
    border: solid black 1px;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    float:left;

}


